.adeniji {
  position: relative;
  width: 554px;
  height: 554px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 400px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 280px;
    height: 280px;
  }
}

.jude {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 600px;
    height: 300px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 280px;
    height: 180px;
  }
}

.augustine {
  position: relative;
  width: 400px;
  height: 600px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 200px;
    height: 300px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 150px;
    height: 250px;
  }
}

.ferdinand {
  position: relative;
  width: 662px;
  height: 836px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 600px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 200px;
    height: 300px;
  }
}

.layi {
  position: relative;
  width: 550px;
  height: 724px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 600px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 200px;
    height: 300px;
  }
}

.edo {
  position: relative;
  width: 680px;
  height: 900px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 600px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 200px;
    height: 300px;
  }
}

.john {
  position: relative;
  width: 788px;
  height: 746px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 400px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 250px;
    height: 250px;
  }
}

.onyema {
  position: relative;
  width: 492px;
  height: 638px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 300px;
    height: 400px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 200px;
    height: 300px;
  }
}

.ope {
  position: relative;
  width: 624px;
  height: 728px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 500px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 200px;
    height: 300px;
  }
}

.chidi {
  position: relative;
  width: 640px;
  height: 425px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 250px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 200px;
    height: 100px;
  }
}

.gbenga {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 400px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 200px;
    height: 200px;
  }
}

.sam {
  position: relative;
  width: 735px;
  height: 1024px;
  margin: 0 auto;

  @media only screen and (max-width: 51.25em) {
    width: 400px;
    height: 500px;
  }

  @media only screen and (max-width: 48.75em) {
    width: 200px;
    height: 300px;
  }
}
