.footer {
  background-color: #202125;
  width: 100%;
  min-height: 18rem;
  font-size: 1rem;

  h3 {
    text-decoration: underline;
  }

  .container {
    display: flex;
    padding: 1rem 2rem;
    color: #f3f0ee;
    justify-content: space-between;

    @media only screen and (max-width: 34.375em) {
      display: block;
    }

    @media only screen and (max-width: 26.25em) {
      display: block;
    }
  }

  .footer_about {
    flex: 1;

    .link {
      display: inline-block;
      font-size: 1.2rem;
      padding: 3px;
      border-bottom: 1px solid #f3f0ee;

      &:hover {
        background-color: #f3f0ee;
        color: #202125;
      }
    }
  }

  .footer_company {
    flex: 1;

    h3 {
      padding-left: 50px;
    }

    ul {
      list-style: none;
      padding-left: 50px;

      li {
        padding: 10px 0px;
      }
    }
  }

  .footer_contact {
    flex: 1;

    .magrit {
      margin-right: 1rem;
    }
  }

  .footer_socials {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
  }

  .copyright {
    text-align: center;
    font-size: 0.9rem;
    color: #f3f0ee;
    padding-bottom: 20px;

    .megathos {
      color: aqua;
    }
  }
}
