.hero {
  display: flex;
  height: 30rem;
  min-width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../public/hero_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    color: #f3f0ee;
    display: flex;
    margin: 0 auto;
    align-items: center;

    @media only screen and (max-width: 26.25em) {
      text-align: center;
    }
  }
}
