.pagination {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;

  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .page_item.disabled .page_link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #f3f0ee;
    border-color: #dee2e6;
  }
  .page_link {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #f3f0ee;
    border: 1px solid #dee2e6;

    &:hover {
      color: #0056b3;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }

    &:focus {
      z-index: 2;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
  }

  .page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}
